<div class="general-review-form">
    <%= form_for(@book_review, url: url) do |f| %>
        <%= render "users/shared/error_messages", resource: @book_review %>
        
        <div class="field">
            <%= f.label :title, class: "" %>
            <%= f.text_field :title, class: "" %>
        </div>

        <div class="field">
            <%= f.label :author, class: "" %>
            <%= f.text_field :author, class: "" %>
        </div>

        <div class="field">
            <%= f.label "Attach", class: "" %>
            <%= f.file_field :avatar, class: "" %>
        </div>
        
        <div class="field">
            <%= f.label :rating, class: "" %>
            <%= f.number_field :rating, class: "",step: "any", min: 0, max: 5 %>  
        </div>

        <div class="field">
            <%= f.label :published, class: "" %>
            <%= f.date_field :published, class: "" %>
        </div>

        <div class="field">
            <%= f.label :genre, class: ""  %>
            <%= f.select :genre, options_for_select(['Fiction', 'Non-Fiction', 'Fantasy','Mystery', 'History', 'Science','Romance', 'Spirituality', 'Technology','Horror', 'Not Specified']), { prompt: " -- Select One -- "}, { class: "form-control", placeholder:" " } %>
            
        </div>

        <div class="field">
            <%= f.label :review, class: "" %>
            <%= f.text_area :review, class: "", rows: 15, cols: 95 %>
        </div>

        <div class="actions">
            <% if action == "new" %>
                <%= f.submit "Create", class: "", id: "" %>
            <% else %>
                <%= f.submit "Update", class: "", id: "" %>
            <% end %>
        </div>

    <% end %>
</div>