<header>
  <div class="authentication-header">
    <div class="navigation-container">
      <%= icon "chevron-left" %>
      <span><%= link_to "Home", pages_index_path, class: "home-page-link" %></span>
    </div>
    <div class="authentication-main-title">
      <h1> The Newsroom </h1>
    </div>
  </div>
</header>

<div class="form-content">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field-group">
      <div class="form-group">
        <%= f.text_field :first_name, class: "form-control", placeholder:" ", required: true %>
        <%= f.label :first_name %>
      </div>
    

      <div class="form-group">
        <%= f.text_field :surname, class: "form-control", placeholder:" ", required: true %>
        <%= f.label :surname %>
      </div>

    </div>  

    <div class="field-group">
      
      <div class="form-group">
        <%= f.select :gender, options_for_select(['Male', 'Female', 'Not Specified']), { prompt: " -- Select One -- "}, { class: "form-control registration_select", placeholder:" ",required: "true" } %>
        <%= f.label :gender %>
      </div>

      <div class="form-group">
        <%= f.date_field :date_of_birth, class: "form-control", placeholder:" ", required: true %>
        <%= f.label :date_of_birth %>
      </div>
      
    </div>  
    
    <div class="form-group">
      <%= f.email_field :email, class: "form-control", placeholder:" ", required: true %>
      <%= f.label :email %>
      <%= icon "circle-check", class: "icon-check icon-display", id: "email-correct" %>
      <%= icon "circle-alert", class: "icon-alert icon-display", id: "email-alert" %>
      <span class="validation-hint", hidden="false", id="email-warning"> Invalid Email </span>
    </div>

    <div class="field-group">
    
      <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder:" ", required: true %>
        <%= f.label :password %>
        <%= icon "eye", class: "show-hide-password", id: "display-password" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder:" ", required: true %>
        <%= f.label :password_confirmation %>
      </div>

    </div>
    <div class="password-validation-feedback" id="password-feedback"></div>

    <div class="password-hints">
      <h5> For your security please ensure your password: </h5>
      <ul class="password-hints-text">
        <li>Is between 8 and 30 characters long</li>
        <li>Contains a mix of upper (capital) and lower case letters</li>
        <li>Contains at least one number</li>
        <li>Contains at least one special character (* : @ | # % , . ; [ ] { } ? - _ ~ $ & < > ‘ “ ^ ( ) / ! `)</li>
      </ul>
    </div>

    <div class="form-actions">
      <%= f.submit "Register Now", disabled: true, class: "registration_submission", id: "new_user_registration" %>
      <div class="additional-link">
        <p> Already have an account? <span><%= link_to "Login", new_user_session_path, class: "registration_login_link", data: { turbo: false } %></span></p>
      </div>
    </div>
  <% end %>
</div>
